{
    "tabWidth": 4,
    "quoteProps": "consistent",
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": [
                "*.yaml",
                "*.yml",
                "*.md"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
