[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
pyyaml = "*"
jinja2 = "*"
requests = "*"
pymongo = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3"
